@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=REM:ital,wght@0,100;0,200;0,300;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
  
}

body{
    font-family: 'REM', sans-serif;
    font-size: 18px;
    line-height: 1.2;
}

ul{
    list-style: none;
}


a{
    text-decoration: none;
    color: inherit;
}

main{
    max-width: 1200px;
    margin: auto;
}

body.darkmode {
    background-color: #5f5f5f;
}

header{
  
    background-color: #fbfbfb;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    position: fixed;
    top: 0;
    width: 100%;
    margin-bottom: 0%;
    box-shadow: 0 3px 10px -5px #5f5f5f;
}

.logo{
    display: flex;
    background-color: #af599e;
    position: static;
    float: left;
    max-width: 1200px;
    width: 70%;
    height: 90px;
}

#menu{
    display: flex;
    justify-content: space-between; 
    border: none;

}

li.menu-item{
    padding: 16px 20px;
    display: flex;
    color: #000000;
}

li.menu-item:hover, .active{
    background-color: #af599e;
    color: #fff;
    transition: 0.3s;
}

#darkmode{
    padding: 16px 20px;
    display: flex;
    color: #000000;
}

#darkmode:hover{
    background-color: #af599e;
    color: #fff;
    transition: 0.3s;
}


#imagen-inicial{
    margin-top: 30%;
    max-width: 1200px;
    width: 50%;
    height: 50%;
}

.imagen-inicial{
    max-width: 1200px;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin: 10% 50% 10% 50%;
}

#primer-cuadro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: justify;
    align-items: center;
    background-color: #af599e;
    color: black;
    font-size: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 10%;
    margin-right: 10%; 
}
.titulo{
    background-color: #af599e;
    font-size: 36px;
    color: #fbfbfb;
    margin-top: 0;
    text-align: center;
}

.presentacion{
    background-color: #af599e;
    color:#fbfbfb;
    margin-bottom: 10px;

}

.button{
    display: flex;
    background-color: #af599e;
    color: #fbfbfb;
    font-size: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    margin-top: 5%;
    margin-bottom: 65%;
    margin-left: 10%;
    margin-right: 10%;
    justify-content: center;
    align-items: center; 
}

.button:hover{
    background-color: #7c1868;
    transition: 0.3s;
}

#segundo-cuadro{
    display: flex ;
    flex-direction: column;
    background-color: #af599e;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 10%;
    margin-right: 10%; 
}

.subtitulo{
    background-color: #af599e;
    color: #fbfbfb;
    font-size: 28px;
    text-align: center;
}

.contacto{
    background-color: #af599e;
    color: #fbfbfb;
    text-align: center;
}

.list-redes{
    display: flex;
    flex-direction: column;
    background-color: #af599e;
    text-align: center; 
    border: #af599e;
}

.twitter{
    background-color: #af599e;
    color: #fbfbfb;
}

.instagram {
    background-color: #af599e;
    color: #fbfbfb;
}

.facebook{
    background-color: #af599e;
    color: #fbfbfb;
}

.youtube{
    background-color: #af599e;
    color: #fbfbfb;
}
#img-link{
    display: inline-flex;
    justify-content: space-between;
    padding: 0;
    max-width: 1200px;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 5%;
}

.img-mail{
    background-color: #fbfbfb;
    width: 50%;
    height: auto;
    margin-left: 5%;
    margin-right: 25%;
}

.img-linkedin{
    background-color: #fbfbfb;
    position: static;
    float: center;
    width: 50%;
    margin-left: 25%;
    margin-right: 50%;
    height: auto;
}

.img-github{
    background-color: #fbfbfb;
    position: static;
    float: right;
    width: 50%;
    margin-right: 10%;
    height: auto;
}


footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #af599e;
    height: 90px;
}

.footer{
    background-color: #af599e;
    color: #fbfbfb;
    margin: 0;
}

@media(min-width: 1024px){
    section#inicio{
        flex-direction: row;
    }
    article#primer-cuadro{
        text-align: left;
    }

    h1{
        font-size: 48px;
        text-align: left;
    }

    #imagen-inicial{
        align-items: left;
    }
}
